
	<div class="well">
		<%= form_tag dashboard_path, :method => :get do %>	
			<div class="controls controls-row">
				<%= select_month(@date) %>
				<%= select_year(@date) %>
				<%= submit_tag "OK", class: "inline-sub btn btn-primary" %>
		  	</div>
			
		<%end%>
	</div>

<hr>
<h3><%= @date.strftime("%B %Y")%></h3>
<table class="dashboard">
	<thead>
		<tr>
			<th>Rooms</th>
		<% for day in @date.beginning_of_month..@date.end_of_month %>
			<th><%= day %></th>
		<% end %>
		</tr>
	</thead>
	<tbody>
		<%= room_column(@rooms, @checkins) %>
		<tr>
			<th>Σύνολα</th>
		<% cash_sum = 0.0 %>
		<% credit_sum = 0.0 %>
		<% cash_extras = 0.0 %>
		<% credit_extras = 0.0 %>
		
		<% for day in @date.beginning_of_month..@date.end_of_month %>
			<td>
				<table class="sum">
					<tr><td class="imp">Μετητά</td><td><%= Statistic.day_incomes(day)[0].to_s %></td></tr>
					<tr><td class="imp">Κάρτα</td><td><%= Statistic.day_incomes(day)[1].to_s %></td></tr>
					<tr><td class="imp">M+K</td><td><%= Statistic.day_incomes(day)[2].to_s %></td></tr>
					<tr><td collspan=2>Extra</td></tr>
					<tr><td class="imp">Μετητά</td><td><%= Statistic.day_extras(day)[0].to_s %></td></tr>
					<tr><td class="imp">Κάρτα</td><td><%= Statistic.day_extras(day)[1].to_s %></td></tr>
					<tr><td class="imp">M+K</td><td><%= Statistic.day_extras(day)[2].to_s %></td></tr>
					
					
				</table>
			</td>
		<% cash_sum += Statistic.day_incomes(day)[0] %>
		<% credit_sum += Statistic.day_incomes(day)[1] %>
		<% end %>
		</tr>
	</tbody>
</table>
<br>
<% c = Statistic.monthly_costs(@date) %>
<div class="well">
	<table>
		<tr><td class="imp">Μηνιαία έσοδα</td><td> <%= cash_sum %> + <%= credit_sum %> =  <%= cash_sum + credit_sum %></td></tr>
		<tr><td class="imp">Μηνιαία έξοδα</td><td> <%= c.to_s %> </td></tr>
		
		<tr><td class="imp">Καθαρό κέρδος</td><td> <%= cash_sum + credit_sum - c %> </td></tr>
	</table>
</div>

	


		
	
