<%- model_class = Invoice -%>
<div class="page-header">
  <h1>Λογιστήριο</h1>
</div>

<%= search_form_for @q, :html => { class: 'well' } do |f| %>

<table class="table table-striped">
  <thead>
    <tr>
		<th><%= sort_link @q, :room_name, model_class.human_attribute_name(:room_name) %></th>
      <th><%= sort_link @q, :customer_name, model_class.human_attribute_name(:customer_name) %></th>
      <th>Σύνολο</th>
       <th><%= sort_link @q, :created_at, model_class.human_attribute_name(:created_at) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @invoices.each do |invoice| %>
      <tr>
		  <td><%= invoice.room_name %></td>
        <td><%= link_to invoice.customer_name, invoice_path(invoice.id) %></td>
        <td>
        		<%= rate_info(invoice) %>
        </td>
        <td><%= invoice.created_at %></td>
        <td>
          <%= link_to "Στοιχεία",
                      invoice_path(invoice), :class => 'btn btn-mini' %>
         
        </td>
      </tr>
    <% end %>
  </tbody>

</table>

<% end %>


<%= will_paginate @invoices %>

<%= link_to 'Εκτύπωση', current_url(format:'pdf'), target: '_blank', class:'btn btn-danger' %>

<%= content_for :sidebar do %>
	<%= search_form_for @q, :html => { class: 'well' } do |f| %>	
	  <div class="control-group">
	    <label class="control-label" for="q_created_at_lteq">Πελάτης</label> 
	    <div class="controls">
	      <%= f.text_field :customer_name_cont %>
	    </div>
	  	</div>
		
		<div class="control-group">
		<label class="control-label">Τρόπος Πληρωμής</label> 
	    <div class="controls">
	      <%= f.select :paid_method_eq, options_for_select([['Μετρητά', 1], ['Κάρτα', 2]]) %>
	    </div>
	  	</div>
	
		<div class="control-group">
		    <label class="control-label" for="q_created_at_lteq">Δωμάτιο</label>
		    <div class="controls">
		      <%= f.text_field :room_name_cont %>
		    </div>
		  </div>
	  
		<div class="control-group">
		    <label class="control-label" for="q_created_at_lteq">Από</label>
		    <div class="controls">
		      <%= f.text_field :created_at_gteq %>
		    </div>
		</div>

		<div class="control-group">
		    <label class="control-label" for="q_created_at_lteq">Έως</label>
		    <div class="controls">
		      <%= f.text_field :created_at_lteq %>
		    </div>
		</div>

	  <div class="form-actions">
	    <%= f.submit class: 'btn btn-primary' %>
	    <%= link_to "Clear", invoices_path, class: "btn" %>
	  </div>
	<%end%>
	
	<div class="well">
		<h5>Σύνολο</h5>
		<%= @sum %>
	</div>
	
<%end%>
