<div class="page-header">
  <h3>Απόδειξη <%= @invoice.checkin.reference%> <%= @invoice.checkin.fromdate %> - <%= @invoice.checkin.todate %></h3> 
</div>
<table class="table table-striped">
	<tbody>
		<tr>
			<th>Κόστος Δωματίου</th>
			<td><%= @invoice.checkin.room_rate %></td>
		</tr>
		<tr>
			<th>Εγγύηση:</th>
			<td><%= @invoice.checkin.deposit %></td>
		</tr>
		<tr>	
			<th>Προπληρωμή:</th>
			<td><%= @invoice.checkin.prepaid %></td>
		</tr>
		<tr>	
			<th>Έκπτωση:</th>
			<td><%= @invoice.checkin.room_discount %></td>
		</tr>  
		<tr>
			<td colspan=2>  <h5>Έξοδα</h5></td>
		</tr>
   	<% @invoice.checkin.line_items.each do |item|%>
  		<tr>
        <td><%= item.created_at %>-<%= item.cost.name %></td>
        <td><%= item.rate %></td>
		</tr>
		<% end %>
	</tbody>
</table>
<h5>Σύνολο: <%= @invoice.rate %> </h5>
<h5>Τρόπος πληρωμής: <%= paid_method_string(@invoice) %></h5>

<%= link_to 'Εκτύπωση', invoice_path(@invoice, format:'pdf'), target: '_blank', class:'btn btn-danger' %>
