<%= simple_form_for @cost, html: { class:"form-horizontal"} do |f| %>
	<%= f.input :name %>
	<%= f.input :description, as: :text %>
	<%= f.input :cost_type, collection: { "Ειδικό" => 1, "Γενικό" => 2} %>
	
	<div class="form-actions">
		<%= f.submit nil, :class => 'btn btn-primary' %>
	   <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
	               costs_path, :class => 'btn' %>
	</div>
<% end %>