<%- model_class = RoomType -%>
<div class="page-header">
  <h1>Τύποι δωματίων</h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Όνομα</th>
      <th>Τιμή</th>
      <th>Περγραφή</th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @room_types.each do |room_type| %>
      <tr>
        <td><%= link_to room_type.name , room_type_path(room_type) %></td>
        <td><%= room_type.price %></td>
        <td><%= room_type.description %></td>
        <td>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_room_type_path(room_type), :class => 'btn btn-mini' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      room_type_path(room_type),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-mini btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_room_type_path,
            :class => 'btn btn-primary' %>
