<%= simple_form_for @customer, :html => { :class => 'form-horizontal' }, remote: true do |f| %>
	<%= f.input :name %>
	<%= f.input :address %>
	<%= f.input :email %>
	<%= f.input :telephone %>
	<%= f.input :cellphone %>
	<%= f.input :find_us %>
	<%= f.input :vip %>
	<div class="modal-footer">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
  </div>
<% end %>
