<%= simple_form_for @customer, :html => { :class => 'form-horizontal' } do |f| %>
	<%= f.input :name %>
	<%= f.input :address %>
	<%= f.input :email %>
	<%= f.input :telephone %>
	<%= f.input :cellphone %>
	<%= f.input :find_us %>
	<%= f.input :vip %>
	<div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                customers_path, :class => 'btn' %>
  </div>
<% end %>
