<%- model_class = Customer -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize %></h1>
</div>
<%= search_form_for @q, :html => { class: 'well' } do |f| %>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= sort_link @q, :name,  model_class.human_attribute_name(:name) %></th>
      <th><%= model_class.human_attribute_name(:email) %></th>
      <th><%= model_class.human_attribute_name(:telephone) %></th>
      <th><%= model_class.human_attribute_name(:cellphone) %></th>
      <th><%= model_class.human_attribute_name(:vip) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @customers.each do |customer| %>
      <tr>
        <td><%= link_to customer.name, customer_path(customer) %></td>
        <td><%= customer.email %></td>
        <td><%= customer.telephone %></td>
        <td><%= customer.cellphone %></td>
        <td><%= customer.vip %></td>
        <td>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_customer_path(customer), :class => 'btn btn-mini' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      customer_path(customer),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-mini btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<% end %>

<%= will_paginate @customers %>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_customer_path,
            :class => 'btn btn-primary' %>



<%= content_for :sidebar do %>
	<%= search_form_for @q, :html => { class: 'well' } do |f| %>	
	  <div class="control-group">
	    <%= f.label :name_cont, class: 'control-label' %> 
	    <div class="controls">
	      <%= f.text_field :name_cont %>
	    </div>
	  </div>
	 
	  <div class="form-actions">
	    <%= f.submit class: 'btn btn-primary' %>
	    <%= link_to "Clear", customers_path, class: "btn" %>
	  </div>
	<%end%>
<%end%>
