<%= simple_form_for @monthly_cost, :html => { :class => 'form-horizontal' } do |f| %>
  <%= f.association :cost, collection: Cost.where('cost_type = ?', 2) %>
  <%= f.input :paid_at, as: :string, input_html: { :value => @monthly_cost.paid_at.to_s  } %>
  <%= f.input :rate, input_html:{class:"btn-mini"} %>
  <div class="form-actions">
    <%= f.button :submit, :class => 'btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                monthly_costs_path, :class => 'btn' %>
  </div>
<% end %>
