<%- model_class = MonthlyCost -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize %></h1>
</div>
<%= search_form_for @q, :html => { class: 'well' } do |f| %>
<table class="table table-striped">
  <thead>
    <tr>
      
      <th><%= sort_link @q, :cost_name, model_class.human_attribute_name(:cost_name) %></th>
      <th><%= sort_link @q, :paid_at, model_class.human_attribute_name(:paid_at) %></th>
      <th><%= model_class.human_attribute_name(:rate) %></th>
      
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @monthly_costs.each do |monthly_cost| %>
      <tr>
       
        <td><%= monthly_cost.cost_name %></td>
        <td><%= monthly_cost.paid_at %></td>
        <td><%= monthly_cost.rate %></td>
       
        <td>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_monthly_cost_path(monthly_cost), :class => 'btn btn-mini' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      monthly_cost_path(monthly_cost),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-mini btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<% end %>

<%= will_paginate @monthly_costs %>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_monthly_cost_path,
            :class => 'btn btn-primary' %>
<%= link_to 'Εκτύπωση', current_url(format:'pdf'), target: '_blank', class:'btn btn-danger' %>

				<%= content_for :sidebar do %>
					<%= search_form_for @q, :html => { class: 'well' } do |f| %>	
					  <div class="control-group">
					    <label class="control-label">Κόστος</label>
					    <div class="controls">
					      <%= f.text_field :cost_name_cont %>
					    </div>
					  </div>

						<div class="control-group">
						    <label class="control-label">Από</label>
						    <div class="controls">
						      <%= f.text_field :paid_at_gteq %>
						    </div>
						</div>

						<div class="control-group">
						    <label class="control-label">Έως</label>
						    <div class="controls">
						      <%= f.text_field :paid_at_lteq %>
						    </div>
						</div>

					  <div class="form-actions">
					    <%= f.submit class: 'btn btn-primary' %>
					    <%= link_to "Clear", monthly_costs_path, class: "btn" %>
					  </div>
					<%end%>
					<div class="well">
						<h5>Σύνολο</h5>
						<%= @sum %>
					</div>
				<%end%>
