<%- model_class = MonthlyCost -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:cost_id) %>:</strong></dt>
  <dd><%= @monthly_cost.cost_id %></dd>
  <dt><strong><%= model_class.human_attribute_name(:paid_at) %>:</strong></dt>
  <dd><%= @monthly_cost.paid_at %></dd>
  <dt><strong><%= model_class.human_attribute_name(:rate) %>:</strong></dt>
  <dd><%= @monthly_cost.rate %></dd>
</dl>

<div class="form-actions">
  <%= link_to t('.back', :default => t("helpers.links.back")),
              monthly_costs_path, :class => 'btn'  %>
  <%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_monthly_cost_path(@monthly_cost), :class => 'btn' %>
  <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              monthly_cost_path(@monthly_cost),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
</div>
