<h3>Δωμάτια</h3>
<% @room_types.each do |room_type| %>
<div class="well">
<h5><%= room_type.name %></h5>
	<% room_type.rooms.each do |room| %>
		<div class="room-element rounded span2 <%= room_class(room) %>">
			<h5>
				<% if room.status == true %>
					<%= link_to room.name,  manageroom_path(room) %>
				<% else %>
					<%= room.name %>
				<% end %>
			</h5>
			<div class="room-element-body">
				<% if room.status == true %>
					<%= link_to t('.destroy', :default => t('Checkout')),
		                       checkout_path(room.checkins.where("checked_out = ?",false).first.id),
		                       :data => { :confirm => t('.confirm', :default => t('Checkout', :default => 'Are you sure?')) },
		                       :class => 'btn btn-mini btn-danger' %>
				<% else %>
					<%= link_to t('.new', :default => t("Checkin")),
					            new_checkin_path( room_id: room.id, rate: room.room_type.price ),
					            :class => 'btn btn-mini btn-primary' %>
				<% end %>
			</div>
		</div>
		
	<% end %>
	<div class="clear"></div>
</div>
<div class="divider"></div>

<% end %>