<h3><%= @checkin.room.name %> - <%= @checkin.room.room_type.name %> - <%= @checkin.customer_name %> </h3>

<div class="accordion" id="accordion_room">
	<div class="accordion-group">
		<div class="accordion-heading">
			<%= link_to "Πληροφορίες Checkin", "#checkin_colapse", "data-toggle" => "collapse", "data-parent"  => "#accordion_room", "class"=>"accordion-toggle collapsed" %>
		</div>
		<div id="checkin_colapse" class="accordion-body collapse">
			<div class="accordion-inner">
				<%= render :partial => "checkins/info", :object => @checkin %>
			</div>
		</div>
	</div>
	<div class="accordion-group">
		<div class="accordion-heading">
			<%= link_to "Προσθήκη extra χρέωσης", "#cost_colapse", "data-toggle" => "collapse", "data-parent"  => "#accordion_room", "class"=>"accordion-toggle collapsed" %>
		</div>
		<div id="cost_colapse" class="accordion-body collapse">
			<div class="accordion-inner">
				<%= render :partial => "line_items/form", :object => @checkins_costs %>
			</div>
		</div>
	</div>
</div>

<h5>Έξοδα δωματίου</h5>
<div id="LineItemsList">
	
		<table class="table table-striped">
  		<thead>
    		<tr>
      		<th>Κόστος</th>
      		<th>Ποσό</th>
      		<th><%=t '.actions', :default => t("helpers.actions") %></th>
    		</tr>
  		</thead>
  <tbody>
  <% @line_items.each do |item|%>
  <tr>
        <td><%= item.cost.name %></td>
        <td><%= item.rate %></td>
        <td>
          
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      line_item_path(item),
                      :method => :delete,
                      :remote => true,
                      :rel => "nofollow",
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-mini btn-danger delete-cost' %>
        </td>
      </tr>
	<% end %>
	 </tbody>
</table>
</div>

<%= content_for :sidebar do %>
<div class="well">
	<h5>Οικονομικά</h5>
	<dl class="dl-horizontal">
	  <dt><strong>Δωμάτιο:</strong></dt>
	  <dd><%= @room_rate %></dd>
	  <dt><strong>Εγγύηση:</strong></dt>
	  <dd><%= @checkin.deposit %></dd>
	  <dt><strong>Προπληρωμή:</strong></dt>
	  <dd><%= @checkin.prepaid %></dd>
	  <dt><strong>Έκπτωση:</strong></dt>
	  <dd><%= @checkin.room_discount %></dd>
	  <dt><strong>Χρεώσεις:</strong></dt>
	  <dd><span id="RoomCost"><%= @checkin.room_costs %></span></dd>
	  <hr>
	  <dt><strong>Σύνολο:</strong></dt>
	  <dd><strong><span id="TotalCost"><%= @total_cost %></span></strong></dd>
	</dl>
	<hr>
	<div>
		<%= link_to "checkout", checkout_path(@checkin.id), class:"btn btn-danger" %>
	</div>
</div>
<% end %>

