@import "jquery.ui.autocomplete";
@import "bourbon";
@import "bootstrap_and_overrides";
@import "bootstrap-datepicker";
@import "rooms";

.clear{
	zoom: 1;
}

.clear:after{
	content: ".";
	display: block;
	height: 0;
	font_size: 0;
	clear: both;
	visibility: hidden;
}

.inline-sub{
	margin-top: -7px;
}

.imp{
	font-weight:bold
}

table.dashboard{
	margin-top: 20px;
	border: solid thin #aaa;
	table{
		border: 0;
		width: 100%;
		td{
			border: 0;
		}
	}
	table.sum{
		td{
			padding: 0;
		}
	}
	th, td{
		padding: 8px 8px;
		font-size: 8pt;
		border: solid thin #aaa;
		text-align: center;
	}
	td.hd{
		font-weight: bold
	}
	td.paid{
		background-color: #F2DEDE;
	}
	td.pending{
		background-color: #DFF0D8;
	}
}

.column{
	float: left;
	display: block;
	font-size: 8pt;
	.hd{
		font-size: 10pt;
		font-weight: bold;
	}
	.cell{
		text-align: center;
		padding: auto 8px;
		display:block;
		clear:both;
		border: solid thin #999;
		min-height: 40px;
	}
}
