<%= simple_form_for( @line_item, remote: true, html: { class: "form-horizontal"} ) do |f| %>
	<%=f.association :cost, collection: Cost.where('cost_type = ?', 1).order('name') %>
	<%=f.input :rate, input_html: { class: "input-mini" } %>
	<%=f.input :checkin_id, as: :hidden%>
	<%= f.submit nil, :class => 'btn btn-primary' %>
<% end %>
