$('#LineItemsList table tbody').append("<tr><td><%= escape_javascript(@line_item.cost.name) %></td><td><%= escape_javascript(@line_item.rate.to_s) %></td><td><%= escape_javascript(link_to 'Διαγραφή', line_item_path(@line_item), :method => :delete, :remote => true , :rel => "nofollow",:data => { :confirm => t('.confirm', :default => t('helpers.links.confirm', :default => 'Are you sure?')) }, :class => 'btn btn-mini btn-danger delete-cost') %></td></tr>")
