<%= simple_form_for(@checkin, html:{ class:'form-horizontal' }) do |f| %>
	<%= f.input :customer_name %><a href="#new_customer" role="button" class="btn btn-primary" data-toggle="modal">Νέος πελάτης</a>
	<%= f.input :room_type, collection: @room_types %>
	<%= f.input :room_id, collection: @rooms %>
   <%= f.input :customer_id, as: :hidden %>
	<%= f.input :fromdate, as: :string, input_html: { :value => @checkin.fromdate.to_s  }%>
	<%= f.input :todate, as: :string, input_html: { :value => @checkin.todate.to_s  }%>
	<%= f.input :rate, input_html: { class:"input-mini" } %>
	<%= f.input :deposit, input_html: { class:"input-mini" } %>
	<%= f.input :prepaid, input_html: { class:"input-mini" } %>
	<%= f.input :discount, input_html: { class:"input-mini" } %>
	<%= f.input :description %>
	<div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                checkins_path, :class => 'btn' %>
  </div>
<% end %>

<!-- Modal -->
<div id="new_customer" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
		<h3 id="myModalLabel">Νέος πελάτης</h3>
	</div>
		<div class="modal-body">
		</div>
<%= render :partial => "customers/ajaxform", :object => @customer %>
</div>
