<%- model_class = Checkin -%>
<div class="page-header">
  <h1><span id="CheckinId"><%= @checkin.id %></span></span>-<%=t '.title', :default => model_class.model_name.human %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:customer_name) %>:</strong></dt>
  <dd><%= @checkin.customer_name %></dd>
  <dt><strong><%= model_class.human_attribute_name(:room_name) %>:</strong></dt>
  <dd><%= @checkin.room_name %></dd>
  <dt><strong><%= model_class.human_attribute_name(:rate) %>:</strong></dt>
  <dd><%= @checkin.rate %></dd>
  <dt><strong><%= model_class.human_attribute_name(:deposit) %>:</strong></dt>
  <dd><%= @checkin.deposit %></dd>
  <dt><strong><%= model_class.human_attribute_name(:prepaid) %>:</strong></dt>
  <dd><%= @checkin.prepaid %></dd>
  <dt><strong><%= model_class.human_attribute_name(:discount) %>:</strong></dt>
  <dd><%= @checkin.discount %></dd>
  <dt><strong><%= model_class.human_attribute_name(:fromdate) %>:</strong></dt>
  <dd><%= @checkin.fromdate %></dd>
  <dt><strong><%= model_class.human_attribute_name(:todate) %>:</strong></dt>
  <dd><%= @checkin.todate %></dd>
</dl>

<div class="form-actions">
 
  <%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_checkin_path(@checkin), :class => 'btn btn-primary' %>
</div>
