<div class="well">
	<h3><%= @checkin.reference %>, room <%= link_to @checkin.room.name, manageroom_path(id: @checkin.room.id) %>, <%= @checkin.customer.email %></h3>
	
	<hr>
	<h5>Αναλυτικά</h5>
	<table class="table table-striped">
   <tbody>
   	<tr>
   		<th> <%= @checkin.fromdate %> - <%= @checkin.todate %></th>
   		<td><%= @checkin.room_rate %></td>
   	</tr>
   	<tr>
   		<th>Προπληρωμένο</th>
   		<td><%= @checkin.prepaid %></td>
   	</tr>
   	<tr>
   		<th>Εγγύηση</th>
   		<td><%= @checkin.deposit %></td>
   	</tr>
   	<tr>
   		<th>Έκπτωση</th>
   		<td><%= @checkin.room_discount %></td>
   	</tr>
		<tr>
			<td colspan=2>  <h5>Έξοδα</h5></td>
		</tr>
   	<% @checkin.line_items.each do |item|%>
  <tr>
        <td><%= item.created_at %>-<%= item.cost.name %></td>
        <td><%= item.rate %></td>
        
      </tr>
	<% end %>
	   </tbody>
  </table>
  <hr>
  <h5>Σύνολο: <%= @checkin.total_cost%> </h5>
  <%=simple_form_for(@invoice, html:{ class:'form-horizontal' }) do |f|%>
  	<%= f.input :rate, input_html: {class:"input-mini"} %>
	<%= f.input :paid_method, collection:{"Μετρητά" => 1, "Κάρτα" => 2}, include_blank: false, :class => 'text_area' %>
	<%= f.input :checkin_id, as: :hidden %>
	<%= f.submit :checkout, class:"btn btn-danger" %>
  <% end %>
</div>
