<%- model_class = Checkin -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize %></h1>
</div>

<%= search_form_for @q, :html => { class: 'well' } do |f| %>

<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:reference) %></th>
      <th><%= sort_link @q, :customer_name, model_class.human_attribute_name(:customer_name) %></th>
      <th><%= sort_link @q, :room_name, model_class.human_attribute_name(:room_name) %></th>
      <th><%= model_class.human_attribute_name(:fromdate) %></th>
      <th><%= model_class.human_attribute_name(:todate) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @checkins.each do |checkin| %>
      <tr>
        <td><%= link_to checkin.reference, checkin_path(checkin) %></td>
        <td><%= link_to checkin.customer_name, customer_path(checkin.customer_id) %></td>
        <td><%= link_to checkin.room_name, room_path(checkin.room_id) %></td>
        <td><%= checkin.fromdate %></td>
        <td><%= checkin.todate %></td>
        <td>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_checkin_path(checkin), :class => 'btn btn-mini' %>
          <%= link_to t('.destroy', :default => t("delete")),
                      checkin_path(checkin),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-mini btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>

</table>

<% end %>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_checkin_path,
            :class => 'btn btn-primary' %>

<%= will_paginate @checkins %>

<%= content_for :sidebar do %>
	<%= search_form_for @q, :html => { class: 'well' } do |f| %>	
	  <div class="control-group">
	    <%= f.label :customer_name_cont, class: 'control-label' %> 
	    <div class="controls">
	      <%= f.text_field :customer_name_cont %>
	    </div>
	  </div>

	  <div class="control-group">
	    <%= f.label :room_name_cont, class: 'control-label' %> 
	    <div class="controls">
	      <%= f.text_field :room_name_cont %>
	    </div>
	  </div>

		<div class="control-group">
		    <%= f.label :created_at_gt, class: 'control-label' %> 
		    <div class="controls">
		      <%= f.text_field :created_at_gt %>
		    </div>
		</div>

		<div class="control-group">
		    <%= f.label :created_at_lt, class: 'control-label' %> 
		    <div class="controls">
		      <%= f.text_field :created_at_lt %>
		    </div>
		</div>

	  <div class="form-actions">
	    <%= f.submit class: 'btn btn-primary' %>
	    <%= link_to "Clear", checkins_path, class: "btn" %>
	  </div>
	<%end%>
<%end%>
