<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "SimpleHotel" %></title>
    <%= csrf_meta_tags %>

    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.6.1/html5shiv.js" type="text/javascript"></script>
    <![endif]-->

    <%= stylesheet_link_tag "application", :media => "all" %>

    <!-- For third-generation iPad with high-resolution Retina display: -->
    <!-- Size should be 144 x 144 pixels -->
    <%= favicon_link_tag 'images/apple-touch-icon-144x144-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '144x144' %>

    <!-- For iPhone with high-resolution Retina display: -->
    <!-- Size should be 114 x 114 pixels -->
    <%= favicon_link_tag 'images/apple-touch-icon-114x114-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '114x114' %>

    <!-- For first- and second-generation iPad: -->
    <!-- Size should be 72 x 72 pixels -->
    <%= favicon_link_tag 'images/apple-touch-icon-72x72-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '72x72' %>

    <!-- For non-Retina iPhone, iPod Touch, and Android 2.1+ devices: -->
    <!-- Size should be 57 x 57 pixels -->
    <%= favicon_link_tag 'images/apple-touch-icon-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png' %>

    <!-- For all other devices -->
    <!-- Size should be 32 x 32 pixels -->
    <%= favicon_link_tag 'favicon.ico', :rel => 'shortcut icon' %>
  </head>
  <body>

    <div class="navbar">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-target=".nav-collapse" data-toggle="collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="<%= root_path %>">SimpleHotel</a>
          <div class="container nav-collapse">
            <ul class="nav">
              <li class="dropdown">
              	<%=link_to "#menu1", class: "dropdown-toggle", "data-toggle" => "dropdown" do %>
									Διαχείριση
									<b class="caret"></b>
								<% end %>
								<ul class="dropdown-menu">
									<li><%= link_to "Πελάτες", customers_path  %></li>
									<li><%= link_to "Τύποι Δωματίων", room_types_path  %></li>
									<li><%= link_to "Δωμάτια", rooms_path  %></li>
									<li><%= link_to "Έξοδα", costs_path  %></li>
								</ul>
              </li>
							<li class="dropdown">
              	<%=link_to "#menu1", class: "dropdown-toggle", "data-toggle" => "dropdown" do %>
									Ρουτίνα
									<b class="caret"></b>
								<% end %>
								<ul class="dropdown-menu">
									<li><%= link_to "Chek-ins", checkins_path  %></li>
									<li><%= link_to "Νέο Chek-in", new_checkin_path  %></li>
									<li class="divider"></li>
									<li><%= link_to "Δωμάτια", listrooms_path  %></li>
								</ul>
              </li>
             	<li class="dropdown">
       			<%=link_to "#menu3", class: "dropdown-toggle", "data-toggle" => "dropdown" do %>
							Λογιστήριο
							<b class="caret"></b>
						<% end %>
						<ul class="dropdown-menu">
							<li><%= link_to "Αποδείξεις", invoices_path  %></li>
							<li class="divider"></li>
							<li><%= link_to "Μηνιαία έξοδα", monthly_costs_path  %></li>
						</ul>
       </li>
            </ul>
            <p class="navbar-text pull-right">
                <%= current_user.email  %>
                &nbsp;
                <%= link_to 'Logout', destroy_user_session_path, :method => :delete %>
              </p>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>

    <div class="container-fluid">
        <div class="row-fluid">
          
           
            <%= yield :layout %>
          
        </div><!--/row-->

      <footer>
        <p>&copy; Ioannis-Andreas Philippas & Spyridon Pagiatakis 2013</p>
      </footer>

    </div> <!-- /container -->

    <!-- Javascripts
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <%= javascript_include_tag "application" %>

  </body>
</html>
